@charset "gb2312";

td,body{font-family:"宋体"; 
     font-size:12px;
	 MARGIN:0px;
	 color:#333333;}
	 
ul {MARGIN:0px}

form{
	margin:0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

a:link          { color: #232323; text-decoration: underline }
a:visited       { color: #232323; text-decoration: underline }
a:active        { color: #232323; text-decoration: underline }
a:hover         { color: #509205; text-decoration: underline }


/*index_top*/


#q1{margin-left:auto; margin-right:auto; width:776px; margin-top:5px; height:62px;}
#q2{ float:left; width:186px; height:62px; text-align:right;}
#q3{ float:right; width:540px; height:24px;BORDER-bottom: #DADDDB 1px solid;margin-top:5px;}
#q3 li{float:left;LIST-STYLE-TYPE:none;}
#q3 .q33{width:380px; text-align:right; line-height:180%;}
#q3 A{COLOR:#00810E;text-decoration: underline; font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}
#q3 A.hover {COLOR: #00810E;text-decoration: underline;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}



#q4{ float:right; width:540px; height:20px; text-align:right; padding-top:5px;}

#qicai{width:100%;}
#q5{margin-left:auto; margin-right:auto; background:url("../images/01_bg.gif"); width:776px; margin-top:5px;height:37px;}
#q5 li{ float:left;LIST-STYLE-TYPE:none; margin-bottom:4px;}
#q5 .q51{width:60px;}
#q5 .q50{width:16px;}
#q5 .q52{width:64px;background:url("../images/02_bg.gif") no-repeat center ; height:30px; text-align:center; line-height:200%; padding-top:6px; color:#333333; font-size:14px; font-weight:bold;}
#q5 .q53{width:64px;height:30px; text-align:center; line-height:200%; padding-top:6px;}
#q5 .q54{width:77px;height:30px; text-align:center; line-height:200%; padding-top:6px;}
#q5 .q55{width:77px;background:url("../images/04_bg.gif") no-repeat center ; height:30px; text-align:center; line-height:200%; padding-top:6px;}
#q5 .q56{width:152px;background:url("../images/03_bg.gif"); height:30px; text-align:center; line-height:200%; padding-top:6px;BORDER-left: #ffffff 1px solid;BORDER-right: #ffffff 1px solid;}
#q5 .q57{width:32 px;}

/*新导航*/
#bg{ width:820px;background:url("../images/bg123.gif");margin-left:auto; margin-right:auto; margin-top:0;}



#qitop{margin-left:auto; margin-right:auto; width:776px; margin-top:10px; height:62px;}
#qitop2{ float:left;width:211px;text-align:center;}

#qitop3{float:right;width:550px;  height:20px;margin-bottom:18px;}
#qitop3 .qitop31{float:left;width:168px; text-align:right}
#qitop3 .qitop32{float:left;width:360px; text-align:right; line-height:180%;}

#qitop5{float:right;width:555px; text-align:right;}

#qitop4{float:right;width:555px;}
#qitop4 li{float:left;LIST-STYLE-TYPE:none; text-align:center;}
#qitop4 .qit{ width:3px;}
#qitop4 .qit1{padding-top:2px;height:26px;width:82px;background:url("../images/t1.gif"); font-size:14px;color:#FFFFFF; font-weight:bold; line-height:180%;}
#qitop4 .qit2{padding-top:2px;height:26px;width:82px;background:url("../images/t1_1.gif"); font-size:14px;color:#0C0C0C; font-weight:bold; line-height:180%;}
#qitop4 .qit3{padding-top:2px;height:26px;width:87px;background:url("../images/t2.gif"); font-size:14px;color:#0C0C0C; font-weight:bold; line-height:180%;}
#qitop4 .qit4{padding-top:2px;height:26px;width:87px;background:url("../images/t2_1.gif"); font-size:14px;color:#FFFFFF; font-weight:bold; line-height:180%;}


#qjob{margin-left:auto; margin-right:auto; background:url("../images/01_bg.gif"); width:100%; margin-top:5px;height:37px;}
#qjob li{ float:left;LIST-STYLE-TYPE:none; margin-bottom:4px;}
#qjob .q51{width:60px;}
#qjob .q50{width:16px;}
#qjob .q52{width:64px;background:url("../images/02_bg.gif") no-repeat center ; height:30px; text-align:center; line-height:200%; padding-top:6px; color:#CC3300; font-size:14px; font-weight:bold;}
#qjob .q53{width:64px;height:30px; text-align:center; line-height:200%; padding-top:6px;}
#qjob .q54{width:77px;height:30px; text-align:center; line-height:200%; padding-top:6px;}
#qjob .q55{width:77px;background:url("../images/04_bg.gif") no-repeat center ; height:30px; text-align:center; line-height:200%; padding-top:6px;}
#qjob .q56{width:152px;background:url("../images/03_bg.gif"); height:30px; text-align:center; line-height:200%; padding-top:6px;BORDER-left: #ffffff 1px solid;BORDER-right: #ffffff 1px solid;}
#qjob .q57{width:32 px;}



#qbanner{margin-left:auto; margin-right:auto; width:776px;}

/* QSO 背景../images/t3.gif */

#qso{margin-left:auto; margin-right:auto; width:776px;height:32px;
line-height:140%;padding-top:5px;background:url("../images/t3.gif"); color:#FFFFFF;}



#qlogin{margin-left:auto; margin-right:auto; width:776px; margin-top:8px; height:117px;}
#qloginleft{ float:left;width:557px;height:117px;}
#qloginleft li{float:left;LIST-STYLE-TYPE:none;height:117px; }
#qloginleft .qloginleft2{width:8px;background:url("../images/login_bg.gif");}
#qloginleft .qloginleft3{width:541px;background:url("../images/login_bg2.gif");}
#qloginleft .qloginleft4{width:8px;background:url("../images/login_bg3.gif");}

#qicailogin2 {float:left; width:500px; height:80px;}
#qicailogin {float:left;text-align:right; margin-top:10px; margin-right:8px; margin-left:5px;}

#qicaitel{width:340px;margin-left:8px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666666;
	height:26px;}
	
#xiala{ float:left;width:120px;}	
	
#qnews{ float:right;width:203px;}
#qnews li{float:left;LIST-STYLE-TYPE:none;width:203px; line-height:160%;}
#qnews .qnews1{float:left;BORDER-bottom: #C2C2C2 1px solid;}

#qad{width:776px; height:192px;margin-left:auto; margin-right:auto;margin-top:12px; margin-bottom:13px; overflow:auto;}
#qad2{width:776px;margin-left:auto; margin-right:auto;height:27px;background:url("../images/q_ad_bg.gif");}
#qad2 li{float:left;background:url("../images/q_ad.gif");height:27px;LIST-STYLE-TYPE:none;width:162px; text-align:center; font-size:14px; font-weight:bold;line-height:195%;}
#qad3{margin-top:5px;}
#qad3 li{width:25%;float:left; border:#999999; border-width:1px;}
#qad4{margin-top:5px;}
#qad4 li{width:97px;float:left;LIST-STYLE-TYPE:none;}

<!--  几个关键的文章  -->
#b_qad{width:776px;margin-left:auto; margin-right:auto;margin-top:5px;}
#b_qad2{width:776px;margin-left:auto; margin-right:auto;height:27px;background:url("../images/q_ad_bg.gif");}
#b_qad2 li{float:left;background:url("../images/ti_1.gif");height:27px;LIST-STYLE-TYPE:none;width:193px; text-align:center; font-size:12px; line-height:225%;}
#b_qad3{margin-top:5px;}
#b_qad3 li{width:25%;float:left;LIST-STYLE-TYPE:none;}
#b_qad4{margin-top:5px;}
#b_qad4 li{width:97px;float:left;LIST-STYLE-TYPE:none;}

#persontype{width:765px;margin-left:auto; margin-right:auto;BORDER: #D1D1D1 1px solid; line-height:190%; padding:5px; margin-bottom:5px;}

#qcenter{width:776px;margin-left:auto; margin-right:auto;margin-top:5px; }


#qleft{ float:left;width:195px;background:#F9F9F9;BORDER: #D1D1D1 1px solid; }
#qleft1{width:181px;height:22px;margin-left:auto; margin-right:auto; margin-top:11px;  }
#qleft1 li{float:left;LIST-STYLE-TYPE:none;height:22px;}
#qleft1 .qlefttow{padding-left:10px;width:97px;background:url("../images/qleft_bg.gif"); font-size:14px;color:#FFFFFF; font-weight:bold; line-height:150%;}
#qleft1 .qlefttow2{width:71px;}

#qleft2{width:181px;margin-left:auto;margin-right:auto; margin-top:11px;}
#qleft2 li{float:left;LIST-STYLE-TYPE:none; line-height:160%; padding-left:5px;}

#qleft3{width:182px;margin-left:auto;margin-right:auto; height:22px; margin-top:11px;}
#qleft3 li{float:left;LIST-STYLE-TYPE:none; line-height:160%; text-align:center; font-weight:bold;}
#qleft3 .qi3{width:50px;BORDER-right: #E8E9E8 1px solid; }
#qleft3 .qi4{width:52px;BORDER-right: #E8E9E8 1px solid; }
#qleft3 .qi5{width:78px;}

#qleft4{width:182px;margin-left:auto;margin-right:auto; height:25px;}
#qleft4 li{float:left;LIST-STYLE-TYPE:none;line-height:200%; text-align:center;BORDER-top: #E8E9E8 1px solid;}
#qleft4 .qi6{width:50px;}
#qleft4 .qi7{width:52px;}
#qleft4 .qi8{width:78px;}

<!-- 新的CSS 首页人才列表   >

#hqright4{ float:right;width:571px;}
#hqright5{float:right;width:571px;height:27px;background:url("../images/q_ad_bg.gif");}
#hqright5 li{float:left;line-height:195%;LIST-STYLE-TYPE:none;}
#hqright5 .newzp{background:url("../images/laogongjianli.gif");height:27px;width:162px;}
#hqright5 .newmore{height:27px;width:400px; text-align:right;}






#qleft5{width:172px;margin-left:auto;margin-right:auto; line-height:170%;padding-left:10px;}
#qleft6{width:172px;margin-left:auto;margin-right:auto; line-height:170%;padding-left:5px;}

#qleft7{width:181px;margin-left:auto;margin-right:auto; margin-top:3px;}
#qleft7 li{float:left;LIST-STYLE-TYPE:none; line-height:180%;  ;}

#qright{float:right;width:571px; }

#qright1{ float:right;width:571px;}
#qright2{float:right;width:571px;height:27px;background:url("../images/q_ad_bg.gif"); margin-bottom:5px;}
#qright2 li{float:left;background:url("../images/newzp2.gif");height:27px;LIST-STYLE-TYPE:none;width:162px; text-align:center; font-size:14px; font-weight:bold;line-height:195%;}
#qright3{margin-top:5px;margin-left:10px;}
#qright3 li{float:left;LIST-STYLE-TYPE:none;width:260px; line-height:190%; }
#qright3 .ci{padding-left:10px;margin-bottom:5px;width:250px;}

#qright4{ float:right;width:571px;}
#qright5{float:right;width:571px;height:27px;background:url("../images/q_ad_bg.gif");}
#qright5 li{float:left;line-height:195%;LIST-STYLE-TYPE:none;}
#qright5 .newzp{background:url("../images/newzp.gif");height:27px;width:162px;}
#qright5 .newmore{height:27px;width:400px; text-align:right;}

#qright6d{float:right;width:569px;BORDER-left: #A0A7A2 1px solid;BORDER-right: #A0A7A2 1px solid;}
#qrighttype{float:left;width:569px; margin-bottom:5px;}
#qrighttype1{float:left; margin-left:5px;margin-left:5px;margin-right:5px;margin-top:5px;}
#qrighttype1 li{float:left;height:23px;list-style-type:none; line-height:180%;background:url("../images/kuang3.gif");}
#qrighttype1 .t1{float:left;width:5px;background:url("../images/kuang.gif");}
#qrighttype1 .t2{float:left;width:5px;background:url("../images/kuang2.gif");}
#qrighttype1 .t3{padding-left:5px;padding-right:5px;}

#qrighttype1 A:link {COLOR: #333333;text-decoration: none; font-size:12px;}
#qrighttype1 A:visited {COLOR: #333333;text-decoration: none;font-size:12px;}
#qrighttype1 A:active {COLOR: #333333;text-decoration: none;font-size:12px;}
#qrighttype1 A:hover {COLOR: #CC0000;text-decoration: underline;font-size:12px;}



#qright6{margin-top:5px;margin-left:10px; }
#qright6 li{float:left;LIST-STYLE-TYPE:none;width:260px; line-height:190%; }

#qright6 .ci{padding-left:10px;margin-bottom:5px;width:250px;}
#qright6b {text-align:right;}


#qright7 {float:left;LIST-STYLE-TYPE:none;width:260px; line-height:190%; margin-left:8px;  }

.f1 {color: #006600;font-size: 11x; font-family: Geneva, Arial, Helvetica, sans-serif;}
.f3 {color: #FF6600;font-size: 11px; font-family: Geneva, Arial, Helvetica, sans-serif;}
.f2 {color: #999900;font-size: 11px; font-family: Geneva, Arial, Helvetica, sans-serif;}




#qlink {width:774px;margin-left:auto;margin-right:auto;margin-top:5px;BORDER: #B7B7B7 1px solid;}
#qlink1 {float:left;width:22px;background:#B7B7B7;text-align:center;padding-top:12px;height:80px;line-height:140%; color:#FFFFFF;}

#qlink2 {float:right;width:752px;height:31px; margin-top:5px;}
#qlink2 li{ width:120px; height:60px; float:left;list-style-type:none; margin-left:2px;}

#qlink3 {float:right;width:752px; line-height:160%;  margin-top:35px; margin-bottom:3px;}
#qlink3 li{float:left;list-style-type:none; width:12%; text-align:center; line-height:160%;}

#qbottom {width:100%;margin-left:auto;margin-right:auto;height:100px;background:#EBEAE8; margin-top:26px;}
#qbottom1 {float:left; width:200px;}
 
#qbottom3 { width:560px;padding-top:10px;line-height:180%; float:right;

font-family:Verdana, Arial, Helvetica, sans-serif;font-size:}
 


/*.的css*/
.qlogintext{line-height:240%;}

.textbord {
	border: 1px solid #B2B2B2;
	font-size: 12px;HEIGHT:15PX;WIDTH:120px;
	margin-bottom:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666666;
}
.textbord2 {
	border: 1px solid #B2B2B2;
	font-size: 12px;HEIGHT:15PX;WIDTH: 120px;
	color:#666666;
}

A.qjobbure2:link {COLOR: #2B49A1;text-decoration: none; font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}
A.qjobbure2:visited {COLOR: #2B49A1;text-decoration: none;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}
A.qjobbure2:active {COLOR: #2B49A1;text-decoration: none;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}
A.qjobbure2:hover {COLOR: #509205;text-decoration: underline;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}


A.q14:link {COLOR: #0C0C0C;text-decoration: none; font-size:14px; font-weight:bold;  }
A.q14:visited {COLOR: #0C0C0C;text-decoration: none;font-size:14px;font-weight:bold;}
A.q14:active {COLOR: #0C0C0C;text-decoration: none;font-size:14px;font-weight:bold;}
A.q14:hover {COLOR: #CC3300;text-decoration: none;font-size:14px;font-weight:bold;}

A.q114:link {COLOR: #0033CC;text-decoration: none; font-size:14px; font-weight:bold;}
A.q114:visited {COLOR: #0033CC;text-decoration: none;font-size:14px;font-weight:bold;}
A.q114:active {COLOR: #0033CC;text-decoration: none;font-size:14px;font-weight:bold;}
A.q114:hover {COLOR: #CC3300;text-decoration: none;font-size:14px;font-weight:bold;}




A.q12:link {COLOR: #333333;text-decoration: none; font-size:12px;}
A.q12:visited {COLOR: #333333;text-decoration: none;font-size:12px;}
A.q12:active {COLOR: #333333;text-decoration: none;font-size:12px;}
A.q12:hover {COLOR: #CC0000;text-decoration: underline;font-size:12px;}

A.c12:link {COLOR: #CC0000;text-decoration: underline; font-size:12px;}
A.c12:visited {COLOR: #CC0000;text-decoration: underline;font-size:12px;}
A.c12:active {COLOR: #CC0000;text-decoration: underline;font-size:12px;}
A.c12:hover {COLOR: #CC0000;text-decoration: underline;font-size:12px;}

A.i12:link {COLOR: #333333;text-decoration: none; font-size:12px;}
A.i12:visited {COLOR: #333333;text-decoration: none;font-size:12px;}
A.i12:active {COLOR: #333333;text-decoration: none;font-size:12px;}
A.i12:hover {COLOR: #CC0000;text-decoration: none;font-size:12px;}

A.b12:link {COLOR: #32359A;text-decoration: underline; font-size:12px;}
A.b12:visited {COLOR: #32359A;text-decoration: underline;font-size:12px;}
A.b12:active {COLOR: #32359A;text-decoration: underline;font-size:12px;}
A.b12:hover {COLOR: #CC0000;text-decoration: underline;font-size:12px;}


A.t12:link {COLOR: #ffffff;text-decoration: none; font-size:12px;}
A.t12:visited {COLOR: #ffffff;text-decoration: none;font-size:12px;}
A.t12:active {COLOR: #ffffff;text-decoration: none;font-size:12px;}
A.t12:hover {COLOR: #ffffff;text-decoration: underline;font-size:12px;}

.wel3{
	font-size: 12px;HEIGHT:15PX;WIDTH:120px;
	margin-bottom:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#00810E;}