BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px
}
DIV {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 SPAN {
	DISPLAY: none
}
H3 SPAN {
	DISPLAY: none
}
H4 SPAN {
	DISPLAY: none
}
H5 SPAN {
	DISPLAY: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
MENU {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ttl P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
I {
	FONT-STYLE: normal
}
S {
	TEXT-DECORATION: none
}
U {
	TEXT-DECORATION: none
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	COLOR: #333
}
A:hover {
	COLOR: #ff6500
}
A:link {
	COLOR: #3d362b
}
A:visited {
	COLOR: #3d362b
}
A:hover {
	COLOR: #ff6600
}
.AW:LINK{color:#3D362B;}
.AW:VISITED{color:#3D362B;}
.AW:HOVER{color:#FFF;}
.Ah:LINK{
	color:#ffffff;
	font-size: 12px;
	text-decoration: none;

}
.Ah:VISITED{
	color:#ffffff;
	font-size: 12px;
	text-decoration: none;

}
.Ah:HOVER{
	color:#FFFFFF;
	font-size: 12px;
	text-decoration: underline;

}
.Ah1:LINK{
	color:#320063;
	font-size: 14px;
	text-decoration: none;

}
.Ah1:VISITED{
	color:#320063;
	font-size: 14px;
	text-decoration: none;

}
.Ah1:HOVER{
	color:#320063;
	font-size: 14px;
	text-decoration: underline;

}
.Ah2:LINK{
	color:#393B36;
	font-size: 14px;
	text-decoration: none;

}
.Ah2:VISITED{
	color:#393B36;
	font-size: 14px;
	text-decoration: none;

}
.Ah2:HOVER{
	color:#393B36;
	font-size: 14px;
	text-decoration: underline;

}
.Ah3:LINK{
	color:#FFFFFF;
	font-size: 14px;
	text-decoration: none;

}
.Ah3:VISITED{
	color:#FFFFFF;
	font-size: 14px;
	text-decoration: none;

}
.Ah4:HOVER{
	color:#ff0000;
	font-size: 12px;
	text-decoration: underline;

}
.Ah4:LINK{
	color:#ff0000;
	font-size: 12px;
	text-decoration: none;

}
.Ah4:VISITED{
	color:#ff0000;
	font-size: 12px;
	text-decoration: none;

}
.Ah4:HOVER{
	color:#ff0000;
	font-size: 12px;
	text-decoration: underline;

}
.redtext A {
	COLOR: #eb5d0b
}
.redtext A:link {
	COLOR: #eb5d0b
}
.redtext A:visited {
	COLOR: #eb5d0b
}
.redtext A:hover {
	COLOR: #eb5d0b
}
.cls {
	CLEAR: both; DISPLAY: block; OVERFLOW: hidden; WIDTH: auto! important
}
#top_nav_bg {
	WIDTH: 100%; BORDER-BOTTOM: #cdcdcd 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #f4f3f2
}
#top_nav {
	CLEAR: both; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; HEIGHT: 26px
}
#top_nav UL {
	MARGIN: 7px 0px
}
#top_nav LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #afa69e 1px solid; PADDING-TOP: 0px
}
#top_nav LI A {
	TEXT-DECORATION: none
}
#top_nav .left {
	FLOAT: left
}
#top_nav .right {
	FLOAT: right
}
#top_nav .no_border {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#top_nav .img_bt {
	MARGIN: -4px -5px -3px -10px
}
#fz{
	height: 30px;
	width: 850px;
	padding: 10px;
}
#main_nav {
	height: 89px;
	width: 850px;
}
#main_nav #logo {
	height: 89px;
	width: 225px;
	float: left;
	list-style-image: none;
	list-style-type: none;
}
#main_nav #navlinks{
	float: right;
	height: 38px;
	width: 625px;
	font-size: 12px;
	color: #FF3300;
	text-decoration: none;
}
#main_nav #navlinks ul{
	list-style-type: none;
}
#main_nav #navlinks li{
	float: right;
	margin-top: 17px;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 0px;
}
#main_nav #navbar{
	float: right;
	height: 30px;
	width: 625px;
	font-size: 12px;
	text-decoration: none;
	color: #FF9900;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
}
#main_nav #navbar ul{
	list-style-type: none;
}
#main_nav #navbar li{
	float: right;
	text-decoration: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #320061;
	font-weight: bold;
	border-bottom-color: #FFFFFF;
}
#searchBar {
	CLEAR: both;
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	MARGIN-TOP: 6px;
	DISPLAY: block;
	BORDER-LEFT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px;
	width: 850px;
}
#searchBar A {
	COLOR: #3d362b
}
#searchBar A:hover {
	COLOR: #ff6600
}
.searchT {
	PADDING-LEFT: 100px; BORDER-BOTTOM: #ccc 1px solid
}
.searchT LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 1px; CURSOR: hand; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.searchT LI.activedTab {
	BORDER-RIGHT: #40057D 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #40057D 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: #40057D; PADDING-BOTTOM: 4px; MARGIN: -6px 0px -2px -1px; BORDER-LEFT: #40057D 1px solid; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: #40057D 1px; POSITION: relative
}
.searchT LI.lastTab {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.searchC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #40057D repeat-x; PADDING-BOTTOM: 10px; MARGIN: 1px 1px 0px; PADDING-TOP: 14px
}
INPUT.searchBarTxt {
	BORDER-RIGHT: #40057D 1px solid; BORDER-TOP: #40057D 1px solid; MARGIN-LEFT: 18px; BORDER-LEFT: #40057D 1px solid; WIDTH: 480px; BORDER-BOTTOM: #40057D 1px solid
}
.searchC INPUT {
	VERTICAL-ALIGN: middle
}
#searchBar .searchC SPAN {
	COLOR: #fff
}
#searchBar .searchC SPAN A {
	COLOR: #fff
}
#productNav {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 3px;
	BORDER-TOP: #ccc 1px;
	PADDING-LEFT: 3px;
	BACKGROUND: #f7f7f7;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ccc 1px solid;
	width: 850px;
	text-align: left;
}
#productNav LI {
	PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; TEXT-INDENT: 6px; PADDING-TOP: 3px; BORDER-BOTTOM: #efefef 1px solid
}
#gg{
	width:850px;
	height:25px;
	padding-top: 7px;
}
#ad1{
	height: 45px;
	width: 850px;
	list-style-type: none;
}
#ad1 ul{
	list-style-type: none;
}
#infotop{
	width: 850px;
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
#infotop #infotopleft{
	width: 615px;
	list-style-type: none;
	float: left;
}
#infotop #infotopleft #newsc{
	width: 100%;
	list-style-type: none;
	height: 23px;
	background-color: #320063;
	float: left;
}
#infotop #infotopleft #newsc #title{
	width: 108px;
	list-style-type: none;
	height: 20px;
	background-color: #FFFFFF;
	float: left;
	margin-top: 3px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}
#infotop #infotopleft #newsc #title1{
	width: 476px;
	list-style-type: none;
	height: 23px;
	float: left;
	padding-top: 6px;
	color: #FFFFFF;
	text-align: right;
}
#infotop #infotopleft #newsb{
	width: 100%;
	list-style-type: none;
	height: 215px;
	float: left;
}
#infotop #infotopleft #newsb #flashpic{
	width: 250px;
	list-style-type: none;
	float: left;
	padding-top: 8px;
	text-align: left;
}
#infotop #infotopleft #newsb #rightt{
	width: 361px;
	list-style-type: none;
	float: left;
	padding-top: 6px;
}
#infotop #infotopleft #newsb #rightt #rtop{
	width: 100%;
	list-style-type: none;
	float: left;
}
#infotop #infotopleft #newsb #rightt #rtop #D1{
	width: 61px;
	list-style-type: none;
	float: left;
	height: 24px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #300063;
}
#infotop #infotopleft #newsb #rightt #rtop #D2{
	width: 63px;
	list-style-type: none;
	float: left;
	height: 24px;
	padding-top: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #300063;
	border-right-color: #300063;
	border-left-color: #300063;
}
#infotop #infotopleft #newsb #rightt #rtop #D3{
	width: 27px;
	list-style-type: none;
	float: left;
	height: 24px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #300063;
}
#infotop #infotopleft #newsb #rightt #rtext{
	width: 288px;
	list-style-type: none;
	float: left;
	height: 21px;
	padding-top: 6px;
	text-align: left;
	padding-left: 8px;
}
#infotop #infotopleft #newsb #rightt #rtime{
	width: 73px;
	list-style-type: none;
	float: left;
	height: 21px;
	padding-top: 7px;
	text-align: left;
}
#infotop #infotopleft #trad{
	width: 100%;
	list-style-type: none;
	height: 169px;
	float: left;
}
#infotop #infotopleft #trad #tleft{
	width: 287px;
	list-style-type: none;
	float: left;
}
#infotop #infotopleft #trad #tleft #T1{
	width: 18px;
	list-style-type: none;
	float: left;
	height: 20px;
	text-align: left;
	padding-left: 2px;
	padding-top: 7px;
}
#infotop #infotopleft #trad #tleft #T2{
	width: 216px;
	list-style-type: none;
	float: left;
	height: 20px;
	text-align: left;
	padding-left: 2px;
	padding-top: 7px;
}
#infotop #infotopleft #trad #tleft #T3{
	width: 50px;
	list-style-type: none;
	float: left;
	height: 20px;
	text-align: left;
	padding-left: 2px;
	padding-top: 7px;
}
#infotop #infotopleft #trad #fg{
	width: 41px;
	list-style-type: none;
	float: left;
	text-align: left;
}
#infotop #infotopleft #comp{
	width: 100%;
	list-style-type: none;
	height: 193px;
	float: left;
}
#infotop #infotopleft #comp #ctext{
	width: 110px;
	list-style-type: none;
	height: 71px;
	float: left;
	margin-top: 16px;
}
#infotop #infotopleft #comp #ctext #C1{
	width: 102px;
	list-style-type: none;
	height: 52px;
	float: left;
	margin-left: 9px;
}
#infotop #infotopleft #comp #ctext #C2{
	width: 102px;
	list-style-type: none;
	height: 20px;
	float: left;
	margin-left: 9px;
	padding-top: 3px;
}
#infotop #infotopright{
	width: 229px;
	list-style-type: none;
	float: left;
	margin-left: 6px;
}
#infotop #infotopright #reg{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 179px;
	border: 1px solid #CFCFCF;
	padding: 4px;
}
#infotop #infotopright #reg #regt{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 25px;
	background-color: #373737;
}
#infotop #infotopright #down{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 79px;
	border: 1px solid #CFCFCF;
	padding: 3px;
	margin-top: 6px;
}
#infotop #infotopright #tjcomp{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 375px;
	border: 1px solid #CFCFCF;
	padding: 3px;
	margin-top: 6px;
}
#infotop #infotopright #tjcomp #tjcompt{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 25px;
	background-color: #373737;
	text-align: left;
	padding-top: 6px;
	padding-left: 14px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
#infotop #infotopright #tjcomp #tjcomptext{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 20px;
}
#infotop #infotopright #tjcomp #tjcomptext #TC1{
	width: 21px;
	list-style-type: none;
	float: left;
	height: 20px;
	padding-top: 7px;
	padding-left: 5px;
	text-align: left;
}
#infotop #infotopright #tjcomp #tjcomptext #TC2{
	width: 197px;
	list-style-type: none;
	float: left;
	height: 20px;
	padding-top: 7px;
	text-align: left;
}
#infocenter{
	width: 850px;
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
#infocenter #infocenterleft{
	width: 229px;
	list-style-type: none;
	float: left;
	margin-right: 6px;
}
#infocenter #infocenterleft #blog{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 375px;
	border: 1px solid #CFCFCF;
	padding: 3px;
}
#infocenter #infocenterleft #blog #blogt{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 25px;
	background-color: #373737;
	text-align: left;
	padding-top: 6px;
	padding-left: 14px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
#infocenter #infocenterleft #blogte{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 189px;
}
#infocenter #infocenterleft #blogte #BL1{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 23px;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
}
#infocenter #infocenterleft #blog #bbst{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 22px;
	background-color: #DEDEDE;
	text-align: left;
	padding-top: 6px;
	padding-left: 14px;
	font-size: 12px;
	font-weight: bold;
	color: #363636;
}
#infocenter #infocenterleft #blog #BL2{
	width: 49%;
	list-style-type: none;
	float: left;
	height: 23px;
	padding-top: 8px;
	padding-left: 9px;
	text-align: left;
}
#infocenter #infocenterleft #xyzl{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 214px;
	border: 1px solid #CFCFCF;
	padding: 3px;
	margin-top: 6px;
}
#infocenter #infocenterleft #xyzl #xyzlt{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 25px;
	background-color: #373737;
	text-align: left;
	padding-top: 6px;
	padding-left: 14px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
#infocenter #infocenterleft #xyzlte{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 160px;
}
#infocenter #infocenterleft #ZL1{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 19px;
	padding-top: 6px;
	padding-left: 5px;
	text-align: left;
}
#infocenter #infocenterright{
	width: 615px;
	list-style-type: none;
	float: left;
}
#infocenter #infocenterright #ctleft{
	width: 303px;
	list-style-type: none;
	float: left;
	height: 258px;
}
#infocenter #infocenterright #ctleft #tt{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 26px;
	background-color: #320063;
}
#infocenter #infocenterright #ctleft #tt #tte{
	width: 87px;
	list-style-type: none;
	float: left;
	height: 21px;
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-left: 14px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
}
#infocenter #infocenterright #ctleft #ctex{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 232px;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CFCFCF;
}
#infocenter #infocenterright #ctleft #ctex #ctt{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 46px;
	padding-top: 20px;
	padding-left: 16px;
	font-weight: bold;
	color: #2F0164;
	text-align: left;
}
#infocenter #infocenterright #ctleft #ctex #CT1{
	width: 25px;
	list-style-type: none;
	float: left;
	height: 22px;
	padding-top: 10px;
	padding-left: 7px;
	text-align: left;
}
#infocenter #infocenterright #ctleft #ctex #CT2{
	width: 269px;
	list-style-type: none;
	float: left;
	height: 22px;
	padding-top: 9px;
	text-align: left;
}
#infocenter #infocenterright #ctleft #ctex #CT3{
	width: 77px;
	list-style-type: none;
	float: left;
	height: 21px;
	padding-top: 9px;
	padding-left: 2px;
	text-align: left;
}
#infocenter #infocenterright #ctleft #ctex #CT4{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 21px;
	padding-top: 9px;
	padding-left: 14px;
	text-align: left;
}
#infocenter #infocenterright #fg1{
	width: 9px;
	float: left;
}
#infocenter #infocenterright #zh{
	width: 100%;
	list-style-type: none;
	height: 23px;
	background-color: #320063;
	float: left;
	margin-top: 6px;
}
#infocenter #infocenterright #zh #zhtitle{
	width: 108px;
	list-style-type: none;
	height: 20px;
	background-color: #FFFFFF;
	float: left;
	margin-top: 3px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}
#infocenter #infocenterright #zh #zhtitle1{
	width: 476px;
	list-style-type: none;
	height: 23px;
	float: left;
	padding-top: 6px;
	color: #FFFFFF;
	text-align: right;
}
#infocenter #infocenterright #zhleft{
	width: 464px;
	list-style-type: none;
	float: left;
}
#infocenter #infocenterright #zhleft #zhinfo{
	width: 100%;
	list-style-type: none;
	float: left;
	height: 139px;
}
#infocenter #infocenterright #zhleft #zhinfo #ZH1{
	width: 23px;
	list-style-type: none;
	float: left;
	height: 22px;
	padding-top: 10px;
	padding-left: 6px;
	text-align: left;
}
#infocenter #infocenterright #zhleft #zhinfo #ZH2{
	width: 441px;
	list-style-type: none;
	float: left;
	height: 22px;
	padding-top: 9px;
	text-align: left;
}
#infocenter #infocenterright #zhleft #job{
	width: 100%;
	list-style-type: none;
	height: 23px;
	background-color: #320063;
	float: left;
	margin-top: 6px;
}
#infocenter #infocenterright #zhleft #job #jobtitle{
	width: 108px;
	list-style-type: none;
	height: 20px;
	background-color: #FFFFFF;
	float: left;
	margin-top: 3px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}
#infocenter #infocenterright #zhleft #jobinfo{
	width: 430px;
	list-style-type: none;
	height: 139px;
}
#infocenter #infocenterright #zhleft #jobinfo #J1{
	width: 269px;
	list-style-type: none;
	height: 19px;
	background-color: #F7F7F7;
	float: left;
	margin-top: 3px;
	padding-top: 4px;
	text-align: left;
}
#infocenter #infocenterright #zhleft #jobinfo #J2{
	width: 90px;
	list-style-type: none;
	height: 19px;
	background-color: #F7F7F7;
	float: left;
	margin-top: 3px;
	padding-top: 4px;
}
#infocenter #infocenterright #zhleft #jobinfo #J3{
	width: 70px;
	list-style-type: none;
	height: 19px;
	background-color: #F7F7F7;
	float: left;
	margin-top: 3px;
	padding-top: 4px;
}
#infocenter #infocenterright #zhleft #jobinfo #JJ1{
	width: 269px;
	list-style-type: none;
	height: 19px;
	float: left;
	margin-top: 3px;
	padding-top: 4px;
	text-align: left;
}
#infocenter #infocenterright #zhleft #jobinfo #JJ2{
	width: 90px;
	list-style-type: none;
	height: 19px;
	float: left;
	margin-top: 3px;
	padding-top: 4px;
}
#infocenter #infocenterright #zhleft #jobinfo #JJ3{
	width: 70px;
	list-style-type: none;
	height: 19px;
	float: left;
	margin-top: 3px;
	padding-top: 4px;
}
#infocenter #infocenterright #zhright{
	width: 144px;
	list-style-type: none;
	float: left;
	margin-left: 6px;
}
#infocenter #infocenterright #zhright #P1{
	width: 144px;
	list-style-type: none;
	float: left;
	margin-top: 6px;
	height: 71px;
}
#links{
	width: 850px;
	list-style-type: none;
	height: 26px;
	border: 1px solid #CFCFCF;
	padding: 5px;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
}
#buttom{
	width: 850px;
	list-style-type: none;
	margin-top: 6px;
	height: 26px;
	color: #FFFFFF;
	background-color: #320063;
	padding-top: 7px;
}
#copyrights{
	margin-bottom: 10px;
	padding-top: 10px;
}
#copyrights1{
	margin-bottom: 10px;
	
}
