<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>HT_title -- HT_WebName</title>
<link href="../Css/Style.css" rel="stylesheet" type="text/css">
</head>
<style type="text/css">
<!--
.style1 {
	color: #CC0000;
	font-weight: bold;
	font-size: 18px;
}

.font9 {
	FONT-SIZE: 9pt; COLOR: #000099; LINE-HEIGHT: 14pt; FONT-FAMILY: "宋体"
}
.font10 {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 16pt; FONT-FAMILY: "宋体"
}

.news10{font-size:14px; line-height:160%; padding:10px; FONT-FAMILY: "宋体"}

.font11 {
	FONT-SIZE: 11pt; COLOR: #330000; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"
}
.font15 {
	FONT-WEIGHT: 500; FONT-SIZE: 15pt; COLOR: #000099; LINE-HEIGHT: 150%; FONT-FAMILY: "黑体"; TEXT-DECORATION: none
}

-->
</style>

<body>
<table width="928" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="center"><iframe src="../Include/Class_Template_Top.asp" width="100%" height="120" frameborder="0" align="middle" scrolling="no"></iframe></td>
  </tr>
</table>
<table width="928" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td align="center"><table width="928" border="0" align="center" cellspacing="0">
        <tr> 
          <td height="4"></td>
        </tr>
      </table>
      <table width="928" border="0" cellspacing="0" cellpadding="0">
        <tr valign="top"> 
          <td height="300"> 
            <table width="100%" border="0" cellspacing="0">
              <tr> 
                <td height="25" class="text02">当前位置：HT_WebName &gt; HT_type &gt; 
                  正文</td>
              </tr>
              <tr> 
                <td height="50" align="center" class="font15">HT_title</td>
              </tr>
              <tr> 
                <td bgcolor="dddddd" height="1"></td>
              </tr>
              <tr> 
                <td height="35" align="center" class="font9"><p>时间：HT_date 作者：HT_Author 
                 <br>  <br></td>
              </tr>
              <tr> 
                <td height="500" valign="top"> 
                  <table width="99%" border="0" align="center" cellspacing="1" class="news10">
                    <tr> 
                      <td valign="top">
                      HT_content</td>
                    </tr>
                  </table>
                  
                </td>
              </tr>
              <tr> 
                <td height="5"></td>
              </tr>
              <tr> 
                <td height="1" bgcolor="dddddd"></td>
              </tr>
              <tr> 
                <td height="25" align="right">来源：HT_Source | <a href="javascript:window.close();">关闭</a></td>
              </tr>
              
            </table></td>
          <td width="5"></td>
          <td width="200" align="center"><iframe src="../Include/Class_Template_Right.asp" width="100%" height="600" frameborder="0" align="middle"scrolling="no"></iframe></td>
        </tr>
      </table> 
     </td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td align="center"><table width="928" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr> 
          <td><hr size="1" color="#cddade"></td>
        </tr>
        <tr> 
          <td align="center"> <a href="../Public/About.asp" >关于我们</a> | <a href="../Public/Statement.asp" >网站声明</a> 
            | <a href="../Public/Service.asp" target="_blank" >服务专区</a> | <a href="../Public/Feedback.asp" target="_blank" >用户反馈</a> 
            | <a href="../Public/Friend.asp" >合作伙伴</a> | <a href="../Public/Contact.asp" >联系我们</a> 
            <BR>
      Copyright(C) 2006 - 2008 <%= Cls_Domain %> All Rights Reserved  &nbsp;&nbsp;&nbsp;<br />
      
	  <!--
	    在线客服：:<a target=blank href=tencent://message/?uin=312409431&Site=haozhaopin.com&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:312409431:1 alt="新加坡劳务网"></a>    -->
				
				
				
<br>			 
   未经<%= Cls_Domain %>同意，不得转载网站之信息作品&nbsp;&nbsp; 
<br></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
